{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"react",
		"@typescript-eslint",
		"prettier"
	],
	"env": {
		"browser": true,
		"jest": true
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	},
	"parser": "@typescript-eslint/parser",
	"rules": {
		"@typescript-eslint/ban-ts-comment": "warn",
		"react/prop-types": "off",
		"@typescript-eslint/explicit-module-boundary-types": "error"
	}
}
