.slider__arrows {
	top: 50%;
	position: absolute;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.slider__arrows__arrow {
	border: solid #333;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 3px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.slider__arrows__arrow:hover {
	opacity: 0.4;
}

.slider__arrows__arrow--left {
	transform: rotate(135deg);
	margin-left: 1em;
}

.slider__arrows__arrow--right {
	transform: rotate(-45deg);
	margin-right: 1em;
}
